.git
.gitignore
.DS_Store
.venv
__pycache__
*.py[cod]
*.egg-info
.pytest_cache
.ruff_cache
.ipynb_checkpoints

data/raw
data/processed
data/partitions
shared/checkpoints
shared/metrics
shared/preprocessing
reports/*.csv
reports/*.metadata.json
reports/metrics_summary_global.csv

kaggle.json
credentials.json
access_token
.env
.env.*
